  html,
  body,
  #map {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
  }
  select {
    position: absolute;
    z-index: 9999999;
    top: 13px;
    right: 45px;
    padding: 1rem;
  }